.shape6 {
    position: absolute;
    height: 746.52197265625px;
    width: 466.01873779296875px;
    left: 720.7620239257812px;
    top: 1810px;

    background: #0089BA;
    border-radius: 20px 80px 20px 20px;
}

.scheduleDoctor {

    height: 600.9884643554688px;
    width: 545.9564819335938px;
    /* left: 654.0435180664062px; */
   

}